.contenedor {
  /* background-image: url(/static/img/audiovisual.jpg); */
  /* background-position: center; */
  /* background-size: cover; */
  display: grid;
  position: relative;
  padding-bottom: 5rem;
}

.carrusel {
  justify-self: center;
}

.boton {
  color: rgb(212, 212, 212);
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  text-align: center;
  text-justify: center;
  cursor: pointer;
  border: none;
  background-color: rgb(0, 0, 0, 0);
}

.boton:hover {
  color: white;
  background-color: rgba(126, 126, 126, 0.1);
}

.boton span {
  width: 100%;
}

.img {
  width: 50%;
}
