.contenedor {
  /* height: 50rem; */
  display: grid;
  /* flex-direction: column; */
  background-image: url(/static/img/audiovisual.jpg);
  background-position: center;
  background-size: cover;
}

.carrusel {
  justify-self: center;
}

.boton {
  color: rgb(212, 212, 212);
  position: absolute;
  z-index: 2;
  top: 0;
  /* width: 30; */
  height: 100%;
  text-align: center;
  text-justify: center;
  cursor: pointer;
  border: none;
  background-color: rgb(0, 0, 0, 0);
}

.boton:hover {
  color: white;
  background-color: rgba(126, 126, 126, 0.1);
}

.boton span {
  /* font-size: 36px; */
  width: 100%;
}
