.contenedor {
  background: url(/static/img/bio.jpg);
  background-color: red;
  background-position: center;
  background-size: cover;
  display: grid;
  flex-direction: column;
  padding-bottom: 5rem;
}

.cuerpo {
  max-width: 23rem;
  max-height: 90%;
  justify-self: center;
  color: #e1e1e1;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  line-height: 140%;
  padding: 0 1rem;
}

@media (max-width: 900px) {
  .cuerpo {
    padding: 0 1.5rem;
  }
}
