.contenedorSeccion {
  /* background: url(/static/img/discografía-mobile.jpg); */
  /* background-position: center; */
  /* background-size: cover; */
  position: relative;
  padding-bottom: 5rem;
  scroll-margin: 2.7rem 0 0;
}

.contenedorObras {
  display: flex;
  gap: 2rem;
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.imagen {
  width: 250px;
  height: 250px;
  position: relative;
}

.texto {
  font-family: "Anton", sans-serif;
  letter-spacing: 0.2rem;
  color: #e7e7e7;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.texto h2 {
  font-size: 1.2rem;
  margin: 0;
  padding-top: 1rem;
}

.texto h3 {
  font-size: 1.12rem;
  margin: 0;
}

.enlaces {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
  background-color: rgb(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.enlaces:hover {
  opacity: 1;
}

.enlaces a {
  width: 35px;
  height: 35px;
}

@media (max-width: 768px) {
  .obra {
    padding-bottom: 2rem;
  }

  .imagen {
    width: 300px;
    height: 300px;
  }

  .enlaces a {
    width: 50px;
    height: 50px;
  }
}
