.titulo {
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: #e1e1e1;
    text-align: center;
    width: 100%;
    align-self: flex-start;
    padding: 5rem 0 3rem;
    margin: 0;
  }